@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .cg {
    @apply mb-[60px] md:mb-[80px];
  }
  .hero-ring {
    @apply absolute inset-0 left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-2 border-emerald-200/10 shadow-[0_0_80px_inset] shadow-emerald-200/10;
  }
  .header-text {
    @apply mb-10 text-center text-xl font-semibold text-foreground md:mb-[65px] md:text-2xl;
  }
}

/* TestimonialSlider.css */
.custom-swiper .swiper-pagination-bullet {
  background-color: #7beec4;
  opacity: 0.1;
}

.custom-swiper .swiper-pagination-bullet-active {
  background-color: #10b981;
  opacity: 1;
  transform: scale(1.2);
}

/* Custom scrollbar styles for the entire website */
*::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar */
}

*::-webkit-scrollbar-track {
  background: rgba(20, 20, 20, 0.1); /* Background of the track */
  border-radius: 10px; /* Rounded corners for the track */
}

*::-webkit-scrollbar-thumb {
  background: #74e39d; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

*::-webkit-scrollbar-thumb:hover {
  background: #3f9f55; /* Darker color on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Makes the scrollbar thinner */
  scrollbar-color: #74e39d rgba(20, 20, 20, 0.1); /* Thumb color and track color */
}
